# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Eclipse
.settings/
Debug/
Release/
*.launch # Locally stored "Eclipse launch configurations"
 
# X-CUBE-AWS Pre/Post build files
*.pyc
Projects/B-L4S5I-IOT01A/Applications/BootLoader_STSAFE/2_Images_SECoreBin/STM32CubeIDE/output.txt
Projects/B-L4S5I-IOT01A/Applications/Cloud/aws_demos/STM32CubeIDE/output.txt
Projects/B-L4S5I-IOT01A/Applications/Cloud/aws_demos/STM32CubeIDE/PostBuild/

# macOS
.DS_Store

# vscode
.vscode/

# Python
.python-version
venv/

# Application
Applications/api_server/saved_data.json
